<mat-nav-list>

    <mat-list-item routerLink="/">
      <mat-icon matListItemIcon>home</mat-icon>
      <div matListItemTitle>Home</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    

    <mat-list-item routerLink="/login">
      <mat-icon matListItemIcon>login</mat-icon>
      <div matListItemTitle>LogIn</div>
    </mat-list-item>
    <mat-divider></mat-divider>


    <mat-list-item routerLink="/signup">
      <mat-icon matListItemIcon>person_add</mat-icon>
      <div matListItemTitle>SignUp</div>
    </mat-list-item>

  </mat-nav-list>
  
  

  
