<form [formGroup]="signupForm" (ngSubmit)="signup()">
    <div>
        <label>Nombre</label>
        <input type="text" formControlName="firstname" [ngClass]="{textError:signupForm.get('firstname')?.errors && signupForm.get('firstname')?.dirty}">
    </div>
    <div *ngIf="signupForm.get('firstname')?.errors && signupForm.get('firstname')?.dirty">
        <p *ngIf="signupForm.get('firstname')?.hasError('required')">Campo <strong>Nombre</strong> es obligatorio</p>
    </div>

    <div>
        <label>Apellido</label>
        <input type="text" formControlName="lastname" [ngClass]="{textError:signupForm.get('lastname')?.errors && signupForm.get('lastname')?.dirty}">
    </div>
    <div *ngIf="signupForm.get('lastname')?.errors && signupForm.get('lastname')?.dirty">
        <p *ngIf="signupForm.get('lastname')?.hasError('required')">Campo <strong>Apellido</strong> es obligatorio</p>
    </div> 
    
    <div>
        <label>Teléfono</label>
        <input type="number" formControlName="phone">
    </div>

    <div>
        <label>Email</label>
        <input type="email" formControlName="email" [ngClass]="{textError:signupForm.get('email')?.errors && signupForm.get('email')?.dirty}">
    </div>
    <div *ngIf="signupForm.get('email')?.errors && signupForm.get('email')?.dirty">
        <p *ngIf="signupForm.get('email')?.hasError('required')">Campo <strong>Email</strong> es obligatorio</p>
    </div>     

    <div>
        <label>Password</label>
        <input type="password" formControlName="password" [ngClass]="{
            textError:signupForm.get('password')?.hasError('required') && signupForm.get('password')?.dirty,
            textWarning:(signupForm.get('password')?.hasError('minlength') || signupForm.get('password')?.hasError('maxlength')) && signupForm.get('password')?.dirty            
        }">
    </div>
    <div *ngIf="signupForm.get('password')?.errors && signupForm.get('password')?.dirty">
        <p *ngIf="signupForm.get('password')?.hasError('required')">Campo <strong>Password</strong> es obligatorio</p>
        <p *ngIf="signupForm.get('password')?.hasError('minlength')">Campo <strong>Password</strong> debe tener al menos 6 caracteres</p>
        <p *ngIf="signupForm.get('password')?.hasError('maxlength')">Campo <strong>Password</strong> no debe superar los 10 caracteres</p>
    </div>  

</form>
