<h1 class="login-heading">Inicio de Sesión</h1>
<mat-card class="login-frame">
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input matInput placeholder="Correo electrónico" formControlName="email" required>
          <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.dirty">
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Campo <strong>Email</strong> es obligatorio</mat-error>
          </div>
          
        </mat-form-field>
      </div>

    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" required>
            <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.dirty">
                <mat-error *ngIf="loginForm.get('password')?.hasError('required')"><strong>Password</strong> es obligatorio</mat-error>
            </div>        
        </mat-form-field>
  </div>  
</form>
</mat-card>

