<div>
    <h1>{{country.name.official}}</h1>
    <p>{{country.cca2}}</p>
    <a href={{country.maps.googleMaps}} target="_blank">Ver producto en Google Maps</a>
    <a href={{country.maps.openStreetMaps}} target="_blank">Ver producto en OpenStreet</a>
    <p>{{country.population}}</p>
    <img src="{{country.coatOfArms.png}}" alt="Coat Of Arms" />    
    <img src="{{country.flags.png}}" alt="{{country.flags.alt}}" />
    
    <!--
    <div *ngFor="let picture of producto?.producto?.pictures">
        <img src="{{picture?.secure_url}}" alt="" />
    </div>
    
-->
</div>
